{% extends "base.html" %}
{% load category_tags %}

{% block title %}{% endblock %}

{% block content %}
<div class="span9">
	<legend>{{page.title}}</legend>
    {{page.text|safe}}
</div>
{% endblock %}
