{% extends "base.lside.html" %}

{% block manage_bar %}
    {% include 'manage.tabs.html' with version=1 %}
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-tabs nav-stacked">
        <li><a class="thumbnail" href="http://{{ request.user.website }}" target="_blank"><img alt="" src="
            {% if request.user.website.logo %}
                {{ request.user.website.logo.url }}
            {% else %}
                /static/img/website.jpg
            {% endif %}
            " width="257">
        </a></li>
        {% if request.user.website.domain %}
            <li><a href="http://{{ request.user.website.domain }}" target="_blank"><h4 style="margin:0px;">{{ request.user.website.domain }}</h4></a></li>
        {% else %}
            <li><a href="http://{{ request.user.website }}" target="_blank"><h4 style="margin:0px;">{{ request.user.website }}</h4></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block column %}
    <legend>Настройки</legend>
    <form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            {% include 'form.inc.html' with form=form %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit" style="width: 130px; font-size: 14px;">Применить</button>
            </div>
        </fieldset>
    </form>
{% endblock column %}
