{% extends "base.catalog.html" %}
{% load category_tags %}

{% block title %}Настройки{% endblock %}

{% block column  %}
    {% if request.user.website.catalog %}
        <div class="" style="margin-bottom:10px;">
        <a href="{% url 'catalog' %}">Каталог</a>
        {{ block.super }} »
        </div>

        <div class="search-item">
        <form class="form-horizontal" role="form">
              <div class="form-group">
                <label class="sr-only">Введите название товара</label>
                <input type="text" class="form-control" name="query" placeholder="Найти товар" style="float: left;">
              </div>
                <button type="submit" class="btn btn-default">Найти товар</button>
        </form>
        </div>

        {% if items %}
        <form action="{% url 'set_bestseller' %}" method="post">
            {% csrf_token %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th width="55">&nbsp;</th>
                        <th style="text-align: center;">Топ продаж</th>
                        <th>Цена</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                <a href="http://{{ request.user.website }}/w/ip/{{item.id}}/" target="_blank">{{ item.name }}</a>
                            </td>
                            <td><a class="btn btn-mini" href="{% url 'coupon_create' %}?filter=id={{ item.id }}">+ купон</a></td>
                            <td style="text-align: center;">
                                <input type="checkbox" name="{{item.id}}" value="True" {% if item.bestseller %} checked {% endif %} >
                                <input type="hidden" name="{{item.id}}" value="False">
                            </td>
                            <td>{{ item.get_price|floatformat:2 }} {{ item.get_currency }}.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        {% endif %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Доступные категории</th>
                    <th width="1%"><a class="btn-link" href="{% url 'category_add' %}">Добавить</a></th>
                </tr>
            </thead>
            <tbody>
                {% for node in roots %}
                    <tr>
                        <td><a href="{% url 'category' cat_id=node.id %}">{{ node.name }}</a></td>
                        <td>
                            <div class="btn-group">
                                <a class="btn btn-mini" href="{% url 'coupon_create' %}?filter=category__id={{ node.id }}">+ купон</a>
                                <a class="btn btn-mini" href="{% url 'category_edit' cat_id=node.id %}"><i class="icon-edit"></i></a>
                                <a class="btn btn-mini btn-delete" data-id="{{ node.id }}" href="{% url 'category_delete' cat_id=node.id %}"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
        <br>
    {% else %}
        <div class="alert alert-error">Нет зарегестрированых каталогов. Обратитесь к администрации.</div>
    {% endif %}
    

    <script>
        $(document).on('click', '.btn-delete', function(event){
            event.preventDefault();

            parentDiv = $(this).parent().parent().parent();
            parentDiv.css({'display':'none'})
            url = $(this).attr('href');
            // objId = $(this).attr('data-id');

            $.ajax({
                type: 'GET',
                url: url,
                dataType: 'json',
                data: {},
                // data: {
                //     'obj-id': objId
                //     },
                success: function(data){}
            })
        });
    </script>

{% endblock %}
