{% extends "base.catalog.html" %}

{% block title %}Информация{% endblock %}
{% block js %}
    $(document).ready(function(){
        $("#id_phone_call_center").mask("+7(999)999-99-99");
        $('#id_phone_number').mask('+7(999)9999-99-99');
    });
{% endblock %}

{% block column  %}
    <form method="post" action="" class="form-horizontal" enctype="multipart/form-data" data-pay="{{ payment_methods }}" data-delivery="{{ delivery }}" >
        {% csrf_token %}
        <fieldset>
            <legend>Настройка сайта</legend>
            {% include 'form.inc.html' with form=form %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </fieldset>
    </form>



<script>

setTimeout(function(){
    var form = $('.form-horizontal'),
        opt_delivery = form.attr('data-delivery'),
        opt_payment = form.attr('data-pay'),
        payment_form = $('#id_payment_methods input'),
        delivery_form = $('#id_delivery input');

    console.log(opt_delivery)
    console.log(opt_payment)

    // num_delivery = opt_delivery.match(/\d+/g).map(Number);
    // num_paymen = opt_payment.match(/\d+/g).map(Number);

    if(opt_payment.length > 4) {
        $.each(payment_form, function(value, item){
            item_value = jQuery(item).attr('value');
            if (opt_payment.includes(item_value)) {
                jQuery(item).attr( "checked", true )
            }
        })
    }

    if(opt_delivery.length > 4) {
        $.each(delivery_form, function(value, item){
            item_value = jQuery(item).attr('value');
            if (opt_delivery.includes(item_value)) {
                jQuery(item).attr( "checked", true )
            }
        })
    }
    
}, 100)


</script>
{% endblock %}


