{% extends "base.catalog.html" %}

{% block column %}
<form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Заказ №{{order.number}}</legend>
        {% include 'form.inc.html' with form=form %}
        <br>
        <legend>Состав заказа:</legend>
        {% include 'formset.inc.html' with formset=formset %}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>
    </fieldset>
</form>
{% endblock column %}
