{% extends "base.catalog.html" %}

{% block column %}
    <div class="control-group ">
        <label class="control-label" for="id_url">Код мерчанта</label>
        <div class="controls">
            <input id="id_url" type="text" maxlength="200" name="url">
            <span class="help-inline"></span>
            <p class="help-block"></p>
        </div>
    </div>
{% endblock column %}
