{% extends "base.catalog.html" %}

{% block title %}Создать новый Магазин/Пункт выдачи{% endblock %}

{% block manage_bar %}
    {% include 'manage.tabs.html' with points=1 %}
{% endblock %}


{% block js %}
    $(document).ready(function(){
        $('#id_weekdays_from').mask('99:99');
        $('#id_weekdays_to').mask('99:99');
        $('#id_saturday_from').mask('99:99');
        $('#id_saturday_to').mask('99:99');
        $('#id_sunday_from').mask('99:99');
        $('#id_sunday_to').mask('99:99');
        $('#id_phone').mask('(999)99-99-999');
    });
{% endblock %}

{% block third_party_js %}
    <script type="text/javascript" src="//maps.google.com/maps/api/js?language=ru&region=ru&key=AIzaSyCCQuZlEEl8GkyKReDh9jZV3qknznYYfX8"></script>
    <script type="text/javascript" src="/static/themes/findinshop/red/js/gmaps.js"></script>
    <script type="text/javascript">
    function initialize(latlng) {
        var myLatLng = {lat: latlng.lat(), lng: latlng.lng() };

        var mapProp = {
            center: new google.maps.LatLng(myLatLng),
            zoom: 18,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: $('#id_name').val()
        });
      var _url = '//maps.googleapis.com/maps/api/geocode/json?&language=ru&address=' + $('#id_city').val();
      $.get(_url,
            function(data){
              var new_address = data.results[0].address_components[0].long_name;
              if($('#id_city').val() != new_address && new_address.length > 0){
                $('#id_city').val(new_address);
                window.ADDRESS_IS_VALID = true;
                alert('Название города было исправленно автоматически');
              }
            });
    }
        $(function(){
          window.ADDRESS_IS_VALID = false;
            function getLatLon() {
                var city = $('#id_city').val();
                    street = $('#id_street').val();
                    address = $('#id_address').val();
                    Gaddress = city + ' ' + street + ' ' + address;
                    GMaps.geocode({
                      address: Gaddress,
                      callback: function(results, status) {
                        if (status == 'OK') {
                          var latlng = results[0].geometry.location;
                          $('#id_lat').val(latlng.lat());
                          $('#id_lon').val(latlng.lng());
                          console.log(latlng);
                          initialize(latlng);
                        }
                      }
                    });
            }
            $("#id_city").change(getLatLon);
            $("#id_street").change(getLatLon);
            $("#id_address").change(getLatLon);
          $('.point-add').submit(function(e){
                return !window.ADDRESS_IS_VALID;
          });
        });
</script>
<style>
#googleMap {
    float: right;
    width: 398px;
    height: 400px;
    /*border: solid 1px #ff00ff;*/
}
{##googleMap div{#}
{#    width: 640px!important;#}
{#    height: 400px!important;#}
{#    position: relative!important;#}
{#}#}
#map-canvas { height: 70%; width :50%; margin-left:auto; margin-right:auto;}
</style>
{% endblock third_party_js %}

{% block column  %}

    {% if messages %}
        <div class="alert alert-info alert-block" style="text-align: justify;">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <ul class="nav nav-pills">
        <li class="active"><a href="{% url "point_add" %}">Создать новый Магазин/Пункт выдачи</a></li>
        <li><a href="{% url "points" %}">Ваши Магазины/Пункты выдачи</a></li>
    </ul>


    <form class="point-add" action="" method="post">{% csrf_token %}
    <div id="googleMap"></div>
        <table>
{#            <tr><td>Карта: </td><td width="200px"></td><td></td></tr>#}
            {% for field in form %}
                {% if not field.name == 'terminal' and not field.name == 'on_map' %}
                    {% if not field.name in narrows_fields %}
                        <tr>
                            <td colspan="2"><p class="error">{{ field.errors }}</p></td>
                        </tr>
                        <tr>
                            <td class="label-bold"><b>{{ field.label }}{% if field.field.required %}*{% endif %}</b></td>
                            <td>{{ field }}</td>
                        </tr>
                        <tr>
                            <td class="help-text" colspan="2">{{ field.help_text }}</td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <tr class="narrow">
                <td><b>Режим работы</b></td>
                <td>
                    <div class="mode">
                        <b>Пн-Пт:</b> c {{ form.weekdays_from }} до {{ form.weekdays_to }}
                    </div>
                    <div class="mode">
                        <b>Сб:</b> c {{ form.saturday_from }} до {{ form.saturday_to }}
                    </div>
                    <div class="mode">
                        <b>Вс:</b> c {{ form.sunday_from }} до {{ form.sunday_to }}
                    </div>
                </td>
            </tr>

            <!--tr class="point-add-input">
                <td>{{ form.terminal }}</td>
                <td>{{ form.terminal.label_tag }}</td>
            </tr-->

            <tr class="point-add-input">
                <td>{{ form.on_map }}</td>
                <td>{{ form.on_map.label_tag }}</td>
            </tr>
        </table>
        <p><input type="submit" value="Сохранить" /></p>
    </form>

{% endblock %}
