<div class='modal'>
    <ul class='nav nav-tabs'>
        <li class='active'><a href='#tab_1' data-toggle='tab'>Продукт</a></li>
        <li><a href='#tab_2' data-toggle='tab'>О магазине</a></li>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true' style='margin:7px;'>&times;</button>
    </ul>
    <div class='tab-content'>
        <div class='tab-pane active' id='tab_1'>

            <div class='modal-header'>
                <h3>"+data.name+"</h3>
            </div>
            <div class='container-fluid'>
                <div class='row-fluid'>
                    <div class='span4'>
                        <span class='image'>
                            <img title="+data.name+" alt="+data.name +" src="+data.image_url+" style='text-align:center; margin-top:10px;max-height: 228px; max-width: 228px;'>
                        </span>
                    </div>
                    <div class='span8' style='padding: 10px 20px 20px 20px;float: left;width:410px;text-align:left;float: left;'>
                        <br/>
                        <span>Цена: "+Math.round(data.price*100)/100+" грн.</span>
                        <br/>
                        <span>"+phone+"</span>
                        <p>"+data.description+"</p>
                    </div>
                </div>
            </div>
        </div>
        <div class='tab-pane' id='tab_2' style='width:700px;'>
            <div class='container-fluid'>
                <div class='row'>
                    <div class='span7'>
                        <div class='row'>
                            <div class='span2' style='font-size:16px;'><b>Название магазина</b></div>
                            <div class='span4'>"+data.store_name+"</div>
                        </div>
                        <div style='border: 1px solid lightgray;'></div>
                        <div class='row'>
                            <br/>
                            <div class='span2'><b>Город</b></div>
                            <div class='span4'>"+data.city+"</div>
                        </div>
                        <br/>
                        <div style='border: 1px solid lightgray;'></div><br/>
                        <div class='row'>
                            <div class='span2'><b>Доставка по Украине</b></div>
                            <div class='span4'>"+data.delivery+"</div>
                        </div>
                        <br/>
                        <div style='border: 1px solid lightgray;'></div><br/>
                        <div class='row'>
                            <div class='span2'><b>Продажа в кредит</b></div>
                            <div class='span4'>"+data.credit_sale+"</div>
                        </div>
                        <div class='row'>
                            <div class='span2'><b>Способы оплаты</b></div>
                            <div class='span4'>"+data.payment_methods+"</div>
                        </div>
                        <div class='row'>
                            <div class='span2'><b>НДС</b></div>
                            <div class='span4'>"+data.nds+"</div>
                        </div>
                        <br/>
                        <div style='border: 1px solid lightgray;'></div><br/>
                        <div class='row'>
                            <div class='span2'><b>Оптовая продажа</b></div>
                            <div class='span4'>"+data.wholesale_trade+"</div>
                        </div>
                        <br/>
                        <div style='border: 1px solid lightgray;'></div><br/>
                        <div class='row'>
                            <div class='span2'><b>Режим работы</b></div>
                            <div class='span4'>"+data.mode+"</div>
                        </div>

                        <div class='row'>
                            <div class='span2'><b>Время с</b></div>
                            <div class='span4'>"+data.time_of+"</div>
                        </div>
                        <br/><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='modal-footer' style='position: relative;'>
        <div class='fb-like pull-left' style='position: absolute; top: 20px; left: 15px;' data-href='"+data.url+"' data-send='false' data-layout='button_count' data-width='450' data-show-faces='true'></div>
        <div class='pull-right'>
        <a href='#' class='btn disabled'> Купить в кредит</a>
        <a href='#' class='btn disabled'>Оплатить online</a>
        <a href="+data.url+" class='btn btn-inverse' target='_blank'>На сайт продавца</a>
        <a href='#' data-dismiss='modal' class='btn btn-danger'>Закрыть</a>
        </div>
        <div class='clearfix'></div>
    </div>
</div>
