

.opacity-zero {
  opacity: 0;
}

.testtest {
    margin-bottom: 64px;
    width: calc(100% - 20px);
}

.opacity-zero {
    opacity: 0;
}

.d-none {
    display: none!important;
}


.orange-btn-cs {
    background-color: #FF4B00;
    color: #fff !important;
    cursor: pointer;
    /* margin-right: 74px; */
}

.orange-btn-padding-cs {
    padding: 7.5px 36px;
}


.nav-tabs {
    border-bottom: 1px solid #919191;
}

.nav-tabs li {
    padding: 0px 24px 0px 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0px;
    color: #757575;
}

.nav-tabs li a {
    padding: 15px 0;
}
.nav-tabs li.active {
    color: #FF4B00;
}
.nav-tabs li.active a {
    border-bottom: 2px solid #FF4B00;
    color: #FF4B00!important;
    border-top: none
}

.tab-content h3 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    padding-bottom: 12px;
}

.tab-content h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #000;
}

.tab-content p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 0px;
    width: 90%;
}
.d-none {
    display: none;
}


.product-item--old-price {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: line-through;
    color: #757575;
    padding-top: 20px;
    display: none; }

.full-description {
    /* box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.35); */
    /* margin-left: 10px; */
    /* height: 100%; */
    border: 1px solid #ff4b00;
    float: left;
    width: 100%;
    background: #fff; }



.full-description .price-btn {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;}
.full-description table {
    margin: 24px 0 4px 0px; }
.full-description table .table-grey,
.full-description table .table-black {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0px; }
.full-description table .table-grey {
  color: #757575; }
.full-description table .table-black {
  color: #000; }
.full-description .discount {
    display: flex;
    margin: 24px 0px; }
.full-description .discount p {
  flex: 1;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000; }
.full-description .discount p:nth-child(2) {
  text-align: end; }
.full-description .discount .orange-color {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FF4B00; }
.full-description__close {
/* //     height: 36px; */
    position: relative; }
.full-description__close h3 {
    width: 90%;}
.full-description__close--btn {
  position: absolute;
/* //   top: 15px;
//   right: 29px; */
  top: 0px;
  right: 0px;
  color: #757575;
  font-size: 26px;
  cursor: pointer; }
.full-description__content {
    margin-top: 7px;
    display: grid;
    grid-template-columns: 35% 65%; }
.full-description__content--img {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 32px;
  margin-top: 22px;
  /* margin: auto 32px;  */
}
.full-description__content--img img {
    max-height: 215px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto; }
.full-description__content--info {
  width: calc(100% - 70px); }
.full-description__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 96px; }
.full-description__footer .orange-btn {
  margin-right: 96px; }
.full-description__footer .svg-icon {
  margin-right: 52px; }
.catalog-block .catalog-block_ul .catalog-block_li .item_box .item_footer .item_detail {
  margin-top: 0px;
}


.catalog-block .catalog-block_ul .catalog-block_li:hover .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:focus .item_box,
.catalog-block .catalog-block_ul .catalog-block_li:active .item_box
{
    box-shadow: none;
    moz-box-shadow: none;
    webkit-box-shadow: none;
}

.header {
    position: fixed!important;
    box-shadow: rgba(42, 48, 60, 0.19) 0px 1px 3px 0px;
    z-index: 99;
    left: 0px;
    top: 0px;
    right: 0px;}



.breadcrumbs {
    margin-top: 86px;
    padding-bottom: 0px;}

@media screen and (max-width: 991px) {
    .breadcrumbs {
        margin-top: 114px;}
}

@media (max-width: 767px) {
    .breadcrumbs {
        margin-top: 156px;}
}



@media screen and (min-width: 1199px) {
  .catalog-block .catalog-block_ul .catalog-block_li:hover .item_box,
  .catalog-block .catalog-block_ul .catalog-block_li:focus .item_box,
  .catalog-block .catalog-block_ul .catalog-block_li:active .item_box
  {
      border-color: #ff4b00!important;
  }
}



@media screen and (max-width: 1199px) {
  .catalog-block .catalog-block_ul .catalog-block_li:hover .item_box .item_img,
  .catalog-block .catalog-block_ul .catalog-block_li:focus .item_box .item_img,
  .catalog-block .catalog-block_ul .catalog-block_li:active .item_box .item_img
  {
      border-top: 1px solid #ff4b00;
      border-left: 1px solid #ff4b00;
      border-right: 1px solid #ff4b00;
  }

  .catalog-block .catalog-block_ul .catalog-block_li:hover .item_box .item_footer,
  .catalog-block .catalog-block_ul .catalog-block_li:focus .item_box .item_footer,
  .catalog-block .catalog-block_ul .catalog-block_li:active .item_box .item_footer
  {
      border-bottom: 1px solid #ff4b00;
      border-left: 1px solid #ff4b00;
      border-right: 1px solid #ff4b00;
  }

  .full-description__close {
    margin: auto 29px;
    position: inherit;
  }

  .full-description__close--btn {
    top: 15px;
    right: 29px;
  }


}


@media screen and (max-width: 1399px) {
  .full-description__content--img img {
    height: auto;
  }
}


@media screen and (max-width: 1280px) {
  .full-description__content--img {
    /* margin-right: 32px; */
    height: 215px; }
  /* .full-description__content--info {
    width: calc(100% - 215px - 64px); } */
  .full-description__footer .orange-btn {
    margin-right: 64px; } }

@media screen and (max-width: 1199px) {
  #descModal .modal-dialog {
    width: 100%!important;
    margin: 0px!important;
    height: 100%; }
  #descModal .modal-body {
    padding: 24px 32px;}
  #descModal .modal-footer {
    padding: 24px;
    justify-content: flex-end !important; }
  #descModal .full-description {
    border: none;}
  #descModal .full-description__footer .orange-btn-cs {
    margin-right: 0px!important; }

  .testtest {
    margin-left:10px;}

  .catalog-block .catalog-block_ul .catalog-block_li {
      overflow: visible!important;
      margin-bottom: 100px;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box {
      height: 100%;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box .item_footer {
      border: 1px solid #ededed;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box {
      border-bottom: none;
      border-left: none;
      border-right: none;
  }
  .catalog-block .catalog-block_ul .catalog-block_li .item_box .item_img {
      border-left: 1px solid #ededed;
      border-right: 1px solid #ededed;
      border-top: 1px solid #ededed;
  }
  .full-description {
      margin-left: 0px;
  }

  .full-description__content {
    margin-top: 7px;
    display: flex;
    flex-direction: column; }
    .full-description__content--img {
      width: 100%;
      height: 215px;
      /* margin-bottom: 72px; */
    }
    .full-description__content--img img {
      height: 100%!important;
      display: block;
      margin-left: auto;
      margin-right: auto;}
    .full-description__content--info {
      width: 100%;
      text-align: left; }
    .full-description__content--info .nav-tabs,
    .full-description__content--info .tab-content {
        margin: auto 29px;
    }
 }



@media screen and (max-width: 991px) {
    .full-description__content--img {
        margin-bottom: 0px;
    }

    #descModal .modal-dialog {
        margin-top: -1px;
    }
}

@media (max-width: 767px) {
  .catalog-block .catalog-block_ul .catalog-block_li {
      width: 50%;
  }

  .catalog-block .catalog-block_ul .catalog-block_li {
      margin-bottom: 50px;
  }

  .full-description__content--img {
      margin-top: 24px;
  }
}


@media screen and (max-width: 500px) {
    #descModal .full-description__content--img {
      margin: auto;}
}
@media screen and (max-width: 380px) {
    #descModal .full-description__content--img img {
      max-width: 100%;
      height: 100%!important; }
}

@media screen and (max-width: 480px) {
  .catalog-block .catalog-block_ul .catalog-block_li {
    width: 100%;
  }

  .full-description__close--btn {
    right: -4px;
  }
  .full-description__close,
  .full-description__content--info .nav-tabs,
  .full-description__content--info .tab-content {
    margin: 0px;
  }
}



.#descModal .full-description__footer {
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.modal-content {
    position: relative;
    border-radius: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.1s;
    animation-name: animatetop;
    animation-duration: 0.1s;
    border: 0px;
    height: 100%;
    overflow-y: scroll;
}

.modal-header {
    padding: 0;
    color: white;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;
}

/* #descModal .full-description__footer .orange-btn-cs {
    position: absolute;
    bottom: 24px;
} */


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-radius: 0;
  border-top: none!important;
  border-bottom: 2px solid #ff4b00!important;
}




.full-description {
  position: relative;
}


.triangle {
  top: -39px; /* 36px height  + 3px extra */
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 20px;
  border-color: transparent transparent #FF4B00 transparent;
  transition: border-width 500ms ease-in;
  /* border: 1px solid #FF4B00; */
}

.result { margin: 16px auto !important;}

.full-description .input-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-description .modal-input {
    width: calc(1/3*100% - (1 - 1/3)*10px)!important;
    height: 46px!important;
    padding: 6px 12px!important;
    font-size: 14px!important;
    line-height: 1.42857143!important;
    color: #555!important;
    background-color: rgba(255, 255, 255, 0.9)!important;
    background-image: none!important;
    border: 1px solid #ff4b00!important;
    border-radius: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)!important;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s!important;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s!important;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s!important;
}

.full-description #id_name {
    display: block!important;}

.more-btn {
    float: right;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #FF4B00;
}

#check_coupon_form {
    padding: 7.5px 36px;
    background-color: #FF4B00;
    color: #fff !important;
    cursor: pointer;
    float: right;
    margin-top: 12px;
    border: 1px;
    display: none;
}

.coupon-btn {
    display: none;}


#id_form_get_coupon .input-group {
    display: contents!important;}
#id_form_get_coupon .input-group input {
    width: 49%!important;}

#id_name {
    float: left;}
#id_email, #id_phone {
    float: right;}

@media screen and (max-width: 480px) {
    #id_form_get_coupon .input-group input {
        width: 100%!important;}
    #check_coupon_form {
        margin-top: 12px;}
}


.header_form {
    margin-bottom: 0px;
}

.wrapper:after {
    height: 0px;
}

.mCustomScrollBox {
    height: auto;
}


/* .product-item {
    width: 100%!important;
} */



/* .catalog-block_ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 1399px) {
  .catalog-block_ul {
    grid-template-columns: repeat(4, 1fr);
  }
} */
/*
@media (max-width: 1199px) {
  .catalog-block_ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .orange-btn-cs {
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .catalog-block_ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .catalog-block_ul {
    display: block;
    height: fit-content;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
  }
} */

.row::before, .container-fluid::before {
  content: none;
}

.full-description {
  height: auto;
  margin-left: 10px;
  margin-bottom: 16px;
  /* float: left; */
}

#descModal {
  display: none;
}

@media (max-width: 1024px) {
  /* #descModal {
    display: block;
  } */
  #descModal .full-description {
    display: block;
  }
  .full-description {
    display: none;
  }
}


.filter .filter-box .filter-header a:after {
  height: 26px;
  margin-top: 12px;
}

.btn-default:active:hover, .btn-default.active:hover {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

/* @media (min-width: 1025px) {
  .catalog-block_ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  .product-item {
    width: 220px!important;
    flex-basis: 220px;
    flex-grow: 1;
  }
} */


@media (min-width: 1200px) {
  .full-description {
    margin-top: 10px;
  }
}


@media (min-width: 1025px) and (max-width: 1199px) {
  .full-description {
    margin-top: 0px;
  }
}


@media (min-width: 1025px) and (max-width: 1044px) {
  .product-item {
    flex-basis: 200px;
  }
}

@media (max-width: 1024px) {
  .catalog-block_ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .catalog-block {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .catalog-block_ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .catalog-block_ul {
    display: block;
    height: fit-content;
    padding: 0px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.prdct {
  display: grid;
  grid-template-columns: 1fr 100%;
}









.catalog-block_ul--inline {
  display: block;
}

.product-item--inline {
  width: 100% !important;
  max-width: 100% !important;
  overflow: visible !important;
  height: auto !important;
}
/* border: 1px solid rgb(237, 237, 237); */
.product-item--inline .item_box {
  display: grid;
  grid-template-columns: 20% 80%;
  height: auto!important;
}

.product-item--inline .full-desc {
  display: none;
}

.product-item--inline .item_price {
  float: left;
}

.product-item--inline .item_box .item_footer {
  border-top: none !important;
  margin: auto 0;
}

.product-item--inline .item_box .item_footer .product-item--title {
  height: auto !important;
  font-size: 20px!important;
}

.product-item--inline .product-item--price {
  width: 100%;
  /* text-align: left !important; */
}

.product-item--inline .item_detail  {
  padding: 10px 0px!important;
}


@media (max-width: 1024px) {
  .item_img {
    border-left: 1px solid red;
  }
}

@media screen and (max-width: 1024px) {
  .catalog-block .catalog-block_ul .product-item--inline .item_box .item_img {
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .catalog-block .catalog-block_ul .product-item--inline .item_box .item_footer {
    border: none;
  }
  .catalog-block .catalog-block_ul .product-item--inline {
    margin-bottom: 50px;
  }

  .catalog-block .catalog-block_ul .product-item--inline:hover .item_box .item_img {
    border-left: none;
    border-right: none;
    border-top: none;
  }
  .catalog-block .catalog-block_ul .product-item--inline:hover .item_box .item_footer {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

@media screen and (max-width: 580px) {
  .catalog-block .catalog-block_ul .product-item--inline-bigger .item_box .item_footer .item_short_desc {
    display: none;
  }

  .catalog-block .catalog-block_ul .product-item--inline .item_box {
    display: block;
  }

  .catalog-block .catalog-block_ul .product-item--inline .item_box .item_img {
    border-bottom: 1px solid #ededed;
  }

  .catalog-block .catalog-block_ul .product-item--inline .item_box .item_footer .item_price {
    margin-top: 10px;
    text-align: right!important;
    float: none;
  }
  .catalog-block .catalog-block_ul .product-item--inline .item_box .item_footer .item_t {
    height: 51px!important;
  }
  .catalog-block .catalog-block_ul .product-item--inline .item_box .item_footer .full-desc {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs .row {
    margin-top: 10px;
  }
}


.sort_filter {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 580px) {
  .sort_filter {
    display: none!important;
  }
}


@media (max-width: 480px) {
  .product-item .general-content-here {
    font-size: 14px;
  }

  #descModal .full-description__close h3 {
    font-size: 20px;
  }

  #descModal .general-content-here p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  #descModal .full-description__content--img {
    height: auto!important;
  }
  #descModal .full-description__content--img img {
    height: auto!important;
  }
}

#slider {
  width: calc(100% - 1.7em);
}


.product-item--inline-bigger .item_box {
  display: grid;
  grid-template-columns: 35% 65%;
}

.product-item--inline-bigger .item_img {
  padding: 30px 20px!important;
  display: contents;
  height: auto!important;
}

.product-item--inline-bigger .item_footer {
  margin: 0!important;
  padding: 30px 10px 30px 10px !important;
  position: relative;
}

.product-item--inline-bigger .full-description__footer .orange-btn-cs {
  margin-right: 0px;
  right: 20px;
}

.product-item--inline-bigger .full-description__footer {
  height: 56px !important;
}

.product-item--inline-bigger .more-btn {
  margin-right: 10px;
}

.product-item--inline-bigger .full-description__close--btn {
  top: 25px;
  right: 20px;
  cursor: pointer;
}



.sort_inline {
  margin: 16px 5px !important;
  height: 20px;
}

.sort_table {
  margin: 16px 5px !important;
  height: 20px;
}

.sort_filter--img {
  /* background: black;
  mask-size: cover; */
  background-size: cover;
}


.sort_filter--img:hover {
  fill: red;
}


/* .sort_filter--img {
  margin: 16px 5px !important;
  height: 20px;
}

.sort_filter--img.active {
  color: #FF4B00;
} */



.icon {
  display: inline-block;
  margin: 16px 5px !important;
  height: 20px;
  width: 27px;
  background-size: cover;
  cursor: pointer;
}
.icon-inline {
  background-image: url(../../img/inline_black.svg);
}

.icon-table {
  background-image: url(../../img/table_black.svg);
}

.icon-inline.active {
  background-image: url(../../img/inline_orange.svg);
}

.icon-table.active {
  background-image: url(../../img/table_orange.svg);
}

.dots {
  display: inline-block;
}

#descModal .orange-btn-cs {
  right: 24px;
} 

.product-item--inline .full-description__content--info {
  display: none;
}

.product-item--inline:hover .full-description__content--info {
  display: block;
}
.product-item--inline-bigger:hover .item_footer {
  display: none;
}


.product-item--inline-bigger .item_box .full-description__content--info .price-btn {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 600;}

.tab-content h2 {
  font-family: 'Open Sans';
  font-style: normal;
  color: #FF4B00;}



.product-item--inline-bigger .item_box .full-description__content--info {
  width: calc(100% - 30px);
}

.product-item--inline-bigger .item_box .full-description__footer .orange-btn-cs {
  position: absolute;
  right: 50px;
}

.product-item--inline-bigger .item_box .full-description__footer {
  height: 76px !important;
}

.product-item--inline-bigger .item_box table {
  margin: 24px 0 4px 0px;
}


.product-item--inline-bigger .item_box table .table-grey, 
.product-item--inline-bigger .item_box table .table-black {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 0px;
}

.product-item--inline-bigger .item_box table .table-grey {
  color: #757575;
}

.product-item--inline-bigger .item_box table .table-black {
  color: #000;
}

.product-item--inline-bigger .item_box .discount {
  display: flex;
  margin: 24px 0px;
}

.product-item--inline-bigger .item_box .discount .orange-color {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #FF4B00;
}

.product-item--inline-bigger .item_box .discount p {
  flex: 1;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #000;
}

.product-item--inline-bigger .item_box .discount p:nth-child(2) {
  text-align: end;
}

.product-item--inline-bigger .item_footer {
  display: none;
}

.product-item--inline-bigger .full-description__content--info {
  display: block;
}

.product-item--inline-bigger .item_box {
  border: 1px solid #FF4B00!important;
}

#descModal .tab-pane.active {
  height: auto!important;
}

#descModal .full-description__close {
  display: block!important;
}

.full-description-desctop .orange-btn-cs {
  margin-right: 74px;
}

@media screen and (min-width: 1024px) {
  body {
    overflow: visible!important;
  }
}

@media screen and (max-width: 1024px) {
  .filter {
    width: 100%;
  }
}

.wrapper {
  margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
  .product-item .item_box {
    border: none!important;
  }

  .product-item .item_img {
    border-top: 1px solid #ededed!important;
    border-left: 1px solid #ededed!important;
    border-right: 1px solid #ededed!important;
  }

  .product-item .item_footer {
    border-bottom: 1px solid #ededed!important;
    border-left: 1px solid #ededed!important;
    border-right: 1px solid #ededed!important;
  }



  .product-item--inline .item_box {
    border: 1px solid #ededed!important;
  }

  .product-item--inline .item_img {
    border-top: none!important;
    border-left: none!important;
    border-right: none!important;
  }

  .product-item--inline .item_footer {
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
  }
}

.prdt {
  display: none;
}

.product-item--inline .add-description {
  width: 90%;
}

.checkbox + .checkbox:last-child {
  margin-bottom: 0px;
}

.checkbox:first-child {
  margin-top: 0px;
}