{% extends "themes/findinshop/red/base_red.html" %}

{% block title %}Регистрация{% endblock %}
{% block top_js %}
<script>
$(document).ready(function () {
      $('#id_phone').mask('+38(999)999-99-99');
/*    $('#id_phone').mask('+38(___)___-__-__', {
      reverse: true,
      translation: {
        '_': {
          pattern: /-|\d/,
          recursive: true
        }
      },
      onChange: function(value, e) {
        e.target.value = value.replace(/(?!^)-/g, '').replace(/^,/, '').replace(/^-,/, '-');
      }
    });*/
//alert("AAA");
});
</script>
{% endblock %}

{% block content %}

    <section class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {% if is_online_market %}
            <h1 class="h1 text-center">Подключить Online-магазин</h1>
            {% else %}
            <h1 class="h1 text-center">Подключить Offline-магазин</h1>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
    <section class="content">
          <div class="container">
            <div class="row">
              <div class="col-md-pull-3 col-md-push-3 col-md-6">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    {% include 'form.inc.html' with form=form %}
                  </div>
              <div class="form-group">
                <div class="col-xs-12">
                  <div class="register-submit">
                    <input type="submit" value="Регистрация" class="btn btn-default __medium"/>
                  </div>
                </div>
              </div>
              </form>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
