﻿{% extends "themes/findinshop/base.html" %}{% block content %}
	<div id="wrapper">	
	<div style="">		
	<div id="find">		
	<h1 id="logo">find<span>in</span>shop</h1>		
	<form class="form-search" action="/search" method="get">          
	<input id="search" 		  class="text ui-autocomplete-input" 		  type="text" value="" placeholder="Я ищу..." 		  autocomplete="off" name="q">		
	<button class="add-on ok" type="submit">  
	<span class="icon">Поиск</span>        
	</button>		
	</form>		
	</div>		
	</div>		
	</div>
<div class="grid">
<!--
<a class="box media-box photo-modal cboxElement" rel="gallery" href="http://findinshop.com/search/?q=%D0%BA%D1%83%D0%BF%D0%B0%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA" >
<img src="http://findinshop.com/static//themes/findinshop/images/test.jpg" alt="Огромный выбор купальников">
<h3 class="caption">купальники</h3>
<b class="fade"></b>
</a>
-->
<div style="clear: both;">	</div>		




	{% endblock content %}
	
