{% extends "themes/findinshop/base.html" %}

{% load i18n %}

{% block title %}{% endblock %}

{% block content %}
    <div class="alert alert-success">
        <legend>Регистрация пройдена!</legend>
        <div>После проверки Вашей регистрации с Вами свяжется наш менеджер.<br>
        С уважением, администрация сайта Findinshop</div>
    </div>
{% endblock %}
