<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="/static/img/favicon.ico" />
</head>
<body>
    Здравствуйте!
    <br />
    <br />
    {% block content %}
    {% endblock %}
    <br />
    <br />
    --<br/>
    FireLine 2012
</body>
</html>
