{{ form.media }}
{% if form.non_field_errors %}
    <div class="control-group error">
        <label class="control-label"></label>
            <div class="controls">
                <span class="help-inline">{{ form.non_field_errors }}</span>
            </div>
    </div>
{% endif %}


{% for field in form %}
        <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
        {{ field }}
{% endfor %}
