{% extends "ticket.lside.html" %}

{% block column %}
    {% if action == 'add' %}
        <form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                {% include 'form.inc.html' with form=form %}
            </fieldset>
            <div class="form-actions">
                <button class="btn btn-primary" name="submit" type="submit">Сохранить</button>
            </div>
        </form>
    {% endif %}
    {% if action == 'v' %}
        <legend>Заявка №{{ticket.id}}: {{ticket.title}}
            {% if request.user.is_staff %}
                <div class="btn-group pull-right">
                    <a href="{% url "ticket_control" ticket_id=ticket.id action='set_open' %}" class="btn btn-mini btn-success" name="submit">Открыть</a>
                    <a href="{% url "ticket_control" ticket_id=ticket.id action='set_working' %}" class="btn btn-mini btn-warning" name="submit">Обработка</a>
                    <a href="{% url "ticket_control" ticket_id=ticket.id action='set_closed' %}" class="btn btn-mini btn-danger" name="submit">Закрыть</a>
                </div>
            {% endif %}
        </legend>
        <div class="">
        {{ticket.description|safe}}
        </div>
        {% if ticket.get_status_key != 'CLOSED' %}
            <form method="post" action="" class="form-horizontal" enctype="multipart/form-data" style="margin-top: 20px;">
                {% csrf_token %}
                <textarea class="input-block-level" name="comment" rows="3"></textarea>
                <div class="">
                    <button class="btn btn-primary pull-right" name="submit" type="submit" style="margin-top: 20px;">Написать</button>
                </div>
            </form>
        {% endif %}
    {% endif %}
{% endblock column %}
