{% extends 'account.lside.html'%}

{% block title %}{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{user.username }}{% endif %}{% endif %}{% endblock %}

{% block column %}
    <h1>{{ user.get_full_name }}
        <small>{{ user.username }}</small>
    </h1>

    <ul class="nav nav-tabs">
        <li><a href="{% url 'account_page' user.id %}">Общее</a></li>
    </ul>

{% endblock %}
