{% extends "base.html" %}

{% block title %}Пароль успешно изменен{% endblock %}

{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="{% url 'account_settings' %}">Настройка профиля</a></li>
        <li class="active"><a href="{% url 'password_change' %}">Изменить пароль</a></li>
    </ul>
    <p>Пароль успешно изменен</p>
{% endblock %}

