{% extends "account.lside.html" %}

{% block title %}Изменение пароля{% endblock %}

{% block column %}
    <form method='post' action=''  class="form-horizontal">{% csrf_token %}
        <fieldset>
            <legend>Изменение пароля</legend>
            {% include 'form.inc.html' with form=form %}
            <div class="form-actions">
                <button type='submit' class="btn btn-primary">Изменить</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
