{% extends "account.lside.html" %}

{% block title %}Настройки{% endblock %}

{% block third_party_css %}
<style>#id_firmname{height: 40px;}</style>
{% endblock third_party_css %}

{% block column  %}
    <form method="post" action="" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Настройка профиля</legend>
            {% include 'form.inc.html' with form=form %}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

