{% extends "base.html" %}

{% load i18n %}

{% block title %}{% endblock %}

{% block content %}
    <legend>Регистрация пройдена!</legend>
    <div>Мы отправили вам письмо со ссылкой для подтверждения регистрации.<br/>
        Проверте пожалуйста ваш электронный почтовый ящик и нажмите на ссылку для продолжения. </div>
{% endblock %}
