{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <form method="post" action="{% url signup2 %}" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            <legend>Регистрация</legend>
            <div class="control-group">
                <label class="control-label"></label>
                <div class="controls">
                    <a href="{% url login %}">Уже есть аккаунт?</a>
                </div>
            </div>
            {% include 'form.inc.html' with form=form %}
            {#<div class='alert alert-info'><a href="http://help.yandex.ru/partnermarket/?id=1111425&ncrnd=684" target="_blank">Что такое XML?</a></div>#}
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">Регистрация</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
