{% extends "base.html" %}

{% load i18n %}

{% block title %}{% endblock %}

{% block content %}
    <legend>Регистрация пройдена!</legend>
    <div>После проверки Вашей регистрации с Вами свяжется наш менеджер.<br>
        С уважением, администрация сайта http://on-s.net</div>
{% endblock %}
