{% extends "base.html" %}

{% load i18n %}

{% block title %}{% endblock %}

{% block content %}
    <legend>Регистрация подтверждена!</legend>
    <div>Регистарция успешно подтверждена. Ваш аккаунта активирован и теперь Вы можете <strong><a href="{% url login %}">войти на сайт</a></strong></div>
{% endblock %}

