{% extends "base.html" %}

{% load i18n %}

{% block title %}{% endblock %}

{% block content %}
    <p>Учетная запись уже активирована. Вы можете <a href="{% url login %}">войти на сайт</a></a>
{% endblock %}
