{% extends "themes/findinshop/red/base_red.html" %}
{% load url from future %}
{% load static %}
{% block style %}
{# {% load staticfiles %} #}
<link rel="stylesheet" href="{% static 'css/style_social.css' %}">
{# <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}"> #}
{% endblock %}

{% block content %}
<section class="breadcrumbs">
<div class="container">
<div class="row">
<div class="col-xs-12">
<h1 class="h1 text-center">
Личный кабинет
</h1></div></div></div></section>
{% comment %}  
      </div></div>
    </div>
  </div>
</header>
{% endcomment %}
<section class="content">
  <div class="container">
  <div class="dashboard">
    <div class="row">
{% comment %}  
    {%if user.is_authenticated%}
    <form action="/dashboard/logout">
    <button type="submit" class="img-favic"style="float: right">Выйти</button>
    </form>
    <a href="{% url 'history' 'history' %}" style="margin-left: 30px;"><button class="btn btn-default navigation-btn">Выйти</button> </a>
    <span class="h3" style="float: right" >Hello {{user.username}}</span>


  {%else%}
      <a href={% url "login_user" %} class="img-favic">Другой способ </a>
    {% load staticfiles %}
    <a href="{% url 'social:begin' 'facebook' %}">
      <img src="{% static "facebook-icon.png" %}" class="img-favic">
    </a>
    <a href="{% url 'social:begin' 'twitter' %}">
      <img src="{% static "twitter-icon.png" %}" class="img-favic">
    </a>
    <a href="{% url 'social:begin' 'vk-oauth2' %}">
      <img src="{% static "vk-icon.png" %}" class="img-favic">
    </a>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
      <img src="{% static "google-icon.png" %}" class="img-favic">
    </a>

  {%endif%}
{% endcomment %}
{% if user.is_authenticated  %}
{# {% if  {{profile.latitude}} %} #}
{% comment %}  
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script type="text/javascript"> 
  var geocoder;

  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} 
//Get the latitude and the longitude;
function successFunction(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    codeLatLng(lat, lng)
}

function errorFunction(){
    alert("Geocoder failed");
}

  function initialize() {
    geocoder = new google.maps.Geocoder();



  }

  function codeLatLng(lat, lng) {

    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
      console.log(results)
        if (results[1]) {
         //formatted address
         alert(results[0].formatted_address)
        //find country name
             for (var i=0; i<results[0].address_components.length; i++) {
            for (var b=0;b<results[0].address_components[i].types.length;b++) {

            //there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate
                if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                    //this is the object you are looking for
                    city= results[0].address_components[i];
                    break;
                }
            }
        }
        //city data
        alert(city.short_name + " " + city.long_name)


        } else {
          alert("No results found");
        }
      } else {
        alert("Geocoder failed due to: " + status);
      }
    });
  }
</script> 
{% endcomment %}
  
<script>
jQuery(document).ready(function(){
  geolocate()
});

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};

function success(pos) {
  var crd = pos.coords;
  $.ajax({
    url : "/dashboard/ip/",   
    type : "GET",           
    data : {'latitude': crd.latitude,
            'longitude': crd.longitude}, 
        success :function(data) {
         $('#lat').text(data.latitude); 
         $('#lon').text(data.longitude); 
         $('#city').text(data.city); 
         $('#country').text(data.country); 
       }
    })
      console.log('Your current position is:');
      console.log('Latitude : ' + crd.latitude);
      console.log('Longitude: ' + crd.longitude);
      console.log('More or less ' + crd.accuracy + ' meters.');
    };

function error(err) {
  console.warn('ERROR(' + err.code + '): ' + err.message);
  $.ajax({
        url : "/dashboard/ip/", 
        type : "GET",
        data : { 'error' : err.message }, 
        // success need to change
});
};

function geolocate() {
  navigator.geolocation.getCurrentPosition(success, error, options)
  error("Some");
 };
</script>

{% endif %}
<div class="row">
  <div class="col-md-offset-1 col-md-8">
    <div class="row">

    <div class="col-sm-4">
      <div class="alert alert-warning" role="alert">
        <h4>Some info</h4>
        <span class="h3">You are login as {{user.username}}</span>
      </div>
      {% if wishlist %}
        <h3 >Your wishlist</h3>
        <ul class="list-group">
          <li class="list-group-item"> 
                {% for item in wishlist %}
                {{item.user}}
                {{item.item}}<br>
                {% endfor %}
          </li>
        </ul>
      {% endif %}
      {% if history %}
        <h3 >History of looked items</h3>
        <ul class="list-group">
          <li class="list-group-item"> 
                {% for item in history %}
                {{item.user}}
                {{item.item}}<br>
                {% endfor %}
          </li>
        </ul>
      {% endif %}

      {% if profile %}
        <h3 >This is your profile picture</h3>
        <img src="{{profile.photo}}"  class="img-account" ><br>
      {% endif %}
    </div>
      <div class="col-md-6">
    {% if profile %}
        <h3 >Other info for development</h3>
        <table class="table table-bordered">

          <thead>
            <tr> <th>Attribute</th> <th>Value</th> </tr>
          </thead>
          <tbody>
            <tr> <td>Provider:</td> <td>{{social.provider}}</td> </tr>
            <tr> <td>UID:</td> <td>{{social.uid}}</td> </tr>
            <tr> <td>Extra data:</td> <td>{{social.extra_data}}</td> </tr>
            <tr> <td>Phone:</td> <td>{{profile.phone}}</td> </tr>
            <tr> <td>Latitude:</td> 
              <td><span id='lat'>{{profile.latitude}}</span></td> </tr>
            <tr> <td>Longitude:</td> 
              <td> <span  id='lon'>{{profile.longitude}}</span></td> </tr>
            <tr> <td>City:</td>
              <td><span id='city'>{{profile.city}}</span></td> </tr>
            <tr> <td>Country:</td> 
              <td><span id = 'country'>{{profile.country}}</span></td> </tr>
          </tbody>
        </table>
      {% else %}
        <big> You are not register in social network yet </big>
      {% endif %}
      </div>
    </div>
  </div>
<aside  class="col-md-3">
        <div class="row">
          <div class="filter-box col-xs-4 col-md-12">
            
              <a href="{% url 'wishlist' 'wishlist'%}" style="margin-left: 30px;"><button class="btn btn-default navigation-btn">Избраное</button> </a>

          </div>

          <div class="filter-box col-xs-4 col-md-12">
            
              <a href="{% url 'history' 'history' %}" style="margin-left: 30px;"><button class="btn btn-default navigation-btn">Просмотренное</button> </a>

          </div>

          <div class="filter-box col-xs-4 col-md-12">
            
              <a href='/dashboard/logout' style="margin-left: 30px;"><button class="btn btn-default navigation-btn">Выйти</button> </a>

          </div>
        </div>
      </aside>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock %}



{% comment %}

{% endcomment %}