{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>

</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}

{{ email }}
<form class="form-signup" action="/admin/mailto/" method="post">
{% csrf_token %}
<h2>Письмо</h2>
<p>Кому: <input  name="email" type='text' readonly="readonly" value={{ email }}></p>
<p>Тема:  <textarea type="text" autofocus  name="topick">{{ topick }}</textarea></p>
<p>Текст: <textarea type="text" rows =15 name="txt">{{ txt }}</textarea></p>
{% if error %}
  {% for item in error %}
  <p>{{ item }}</p>
  {% endfor %}
{% endif %}
<input class="btn btn-primary" name="submit" type="submit" value="Отправить" />
</form>

{% endblock %}
